{% extends 'base.html' %}

{% block title %}Forget Password{% endblock %}

{% block content %}
<div class="center">
    <h1>Forget Password</h1>

    {% if messages %}
        {% for message in messages %}
            <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="txt_field">
            <input type="email" required name="email" placeholder="Email">
            <span></span>
            <label>Email</label>
        </div>

        <input type="submit" value="Send Password Reset Link">
    </form>

    <div class="signup_link">
        Remembered your password? <a href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}