{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="center">
    <h1>Login</h1>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{ message }}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
      
        <div class="txt_field">
            <input type="text" required name="username" placeholder="Username">
            <span></span>
            <label>Username</label>
        </div>

        <div class="txt_field">
            <input type="password" required name="password" placeholder="Password">
            <span></span>
            <label>Password</label>
        </div>

        <input type="submit" value="Login">
        <div class="signup_link">
            Don't have an account? <a href="{% url 'register' %}">Register</a>
        </div>
        <div class="signup_link">
            <a href="{% url 'forget_password' %}">Forgot Password?</a>
        </div>
    </form>
</div>
{% endblock %}